Source: beegfs
Section: misc
Priority: optional
Maintainer: BeeGFS Maintainers <packages@beegfs.com>
Build-Depends: debhelper (>= 9.0.0), lsb-release, librdmacm-dev, libibverbs-dev, java6-sdk, kmod,
               dkms (< 3.0.0) | dh-dkms (>=3.0.0), pkg-config, zlib1g-dev, libnl-3-dev,
               libnl-route-3-dev, libcurl-dev
Standards-Version: 4.1.4.1



Package: libbeegfs-ib
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: BeeGFS InfiniBand support
 This package contains support libraries for InfiniBand.



Package: beegfs-common
Architecture: any
Depends: ${misc:Depends}
Description: BeeGFS common files
 The package contains files required by all BeeGFS daemon packages



Package: beegfs-helperd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, beegfs-common (= ${binary:Version})
Recommends: libbeegfs-ib (= ${binary:Version})
Description: BeeGFS helper daemon
 The package contains the BeeGFS helper daemon. The helper daemon is responsible
 to write (kernel) client messages to the client log file.

Package: beegfs-helperd-dbg
Architecture: any
Section: debug
Priority: extra
Depends: beegfs-helperd (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for beegfs-helperd
 The package contains the debugging symbols for beegfs-helperd



Package: beegfs-meta
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, beegfs-common (= ${binary:Version})
Recommends: libbeegfs-ib (= ${binary:Version})
Description: BeeGFS metadata server daemon
 The package contains the BeeGFS metadata daemon.

Package: beegfs-meta-dbg
Architecture: any
Section: debug
Priority: extra
Depends: beegfs-meta (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for beegfs-meta
 The package contains the debugging symbols for beegfs-meta



Package: beegfs-storage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, beegfs-common (= ${binary:Version})
Recommends: libbeegfs-ib (= ${binary:Version})
Description: BeeGFS storage server daemon
 This package contains the BeeGFS storage server binaries.

Package: beegfs-storage-dbg
Architecture: any
Section: debug
Priority: extra
Depends: beegfs-storage (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for beegfs-storage
 The package contains the debugging symbols for beegfs-storage



Package: beegfs-mgmtd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, beegfs-common (= ${binary:Version})
Recommends: libbeegfs-ib (= ${binary:Version})
Description: BeeGFS management server daemon
 The package contains the BeeGFS management daemon.

Package: beegfs-mgmtd-dbg
Architecture: any
Section: debug
Priority: extra
Depends: beegfs-mgmtd (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for beegfs-mgmtd
 The package contains the debugging symbols for beegfs-mgmtd



Package: beegfs-mon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, beegfs-common (= ${binary:Version})
Recommends: libbeegfs-ib (= ${binary:Version})
Description: BeeGFS mon daemon
 The package contains the BeeGFS mon daemon.

Package: beegfs-mon-dbg
Architecture: any
Section: debug
Priority: extra
Depends: beegfs-mon (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for beegfs-mon
 The package contains the debugging symbols for beegfs-mon

Package: beegfs-mon-grafana
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BeeGFS mon dashboards for Grafana
 This package contains the BeeGFS mon dashboards to display monitoring data in Grafana.
 The default dashboard setup requires both Grafana, and InfluxDB.





Package: beegfs-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, beegfs-common (= ${binary:Version})
Recommends: libbeegfs-ib (= ${binary:Version})
Description: BeeGFS utils
 This package contains BeeGFS utilities.

Package: beegfs-utils-dbg
Architecture: any
Section: debug
Priority: extra
Depends: beegfs-utils (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for beegfs-utils
 The package contains the debugging symbols for beegfs-utils

Package: beegfs-utils-dev
Architecture: any
Depends: ${misc:Depends}
Description: BeeGFS utils devel files
 This package contains BeeGFS development files and examples.



Package: beeond-thirdparty-gpl
Architecture: any
Depends: ${perl:Depends}, ${misc:Depends}
Description: BeeOND thirdparty utilities (GPL licensed)
 Thirdparty tools used for BeeOND, which are licensed under the GPL

# does not build on most systems we support
#Package: beeond-thirdparty
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: BeeOND thirdparty utilitites
# Thirdparty tools used for BeeOND

Package: beeond
Architecture: all
Depends: ${misc:Depends}, beeond-thirdparty-gpl (= ${binary:Version}),
  beegfs-utils (= ${binary:Version}), beegfs-mgmtd (= ${binary:Version}), beegfs-meta (= ${binary:Version}),
  beegfs-storage (= ${binary:Version}),
  beegfs-client (= ${binary:Version}) | beegfs-client-dkms (= ${binary:Version}),
  beegfs-helperd (= ${binary:Version}),
  psmisc
Description: BeeOND
 This package contains BeeOND.



Package: beegfs-client
Architecture: all
Depends: ${misc:Depends}, build-essential
Conflicts: beegfs-client-dkms
Recommends: linux-headers-amd64
Description: BeeGFS client
 This package contains scripts, config and source files to build and
 start beegfs-client.

Package: beegfs-client-dkms
Architecture: all
Depends: ${misc:Depends}, dkms
Conflicts: beegfs-client
Recommends: linux-headers-amd64
Description: BeeGFS client (DKMS version)
 This package contains scripts, config and source files to build and
 start beegfs-client. It uses DKMS to build the kernel module.

Package: beegfs-client-compat
Architecture: all
Description: BeeGFS client compat module, allows one to run two different client versions.
 This package allows one to build and to run a compatibility client
 kernel module on a system that has a newer beegfs-client version
 installed.
Depends: ${misc:Depends}, build-essential

Package: beegfs-client-dev
Architecture: any
Depends: ${misc:Depends}
Description: BeeGFS client development files
 This package contains BeeGFS client development files.
